.bottom-images {
    display: block;
}

body{
	font:15px/1.3 'Open Sans', sans-serif;
	background:#EEE;
}
.login{
	background: #fff;
	padding:15px;
	padding-bottom:30px;
	margin:20% auto;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
.login h4{
	color:#000;
	margin:10px 15px 20px 15px;
	text-align:center;
}
.footer{ margin-top:10px;}