        <p>
            <strong>Nagma Kapoor</strong><br>
            <p>
                Hard and dedicated worker, involved team member and overall a great person!
            </p>
            <i class="fab fa-twitter fa-2x"></i>
            <i class="fab fa-instagram fa-2x"></i>
            <a href="mailto:nagmakapoor@gmail.com"><i class="far fa-envelope fa-2x"></i></a><br><br>

            <strong>Dylan Donsky</strong><br>
            <p>
                I AM A WABSYTE DEVOLOPER!
            <div>
                <img src="https://i.redd.it/pwb4753jaaf41.png" width="250" alt="wab devaloper"><br>
            </div>
            <i class="fab fa-twitter fa-2x"></i>
            <i class="fab fa-instagram fa-2x"></i>
            <a href="mailto:ddonsky@ryerson.com"><i class="far fa-envelope fa-2x"></i></a>
        </p>