    <ul>
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Preposed Travel Plans
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <!-- Plan Toronto -->
          <div class="dropdown-submenu">
            <a class="dropdown-item dropdown-toggle" href="#">Toronto</a>  
            <ul class="dropdown-menu">
                <h5>Toronto Package</h5>
                <li class="dropdown-item">Start Date: 11/27/2020</li>
                <li class="dropdown-item">Duration: 1 Week</li>
                <li class="dropdown-item">Air fare: $200</li>
                <li class="dropdown-item">Tour ID#: 416647509</li>
                <li class="dropdown-item">Total Price: $1000</li>
                <a class="dropdown-item package-item" style="font-weight: bolder;" id="Toronto" href="#">Select Package</a>  
            </ul>
        
          <!-- Plan New York -->
            <a class="dropdown-item dropdown-toggle" href="#">New York</a>
            <ul class="dropdown-menu">
              <h5>New York Package</h5>
              <li class="dropdown-item">Start Date: 06/20/2020</li>
              <li class="dropdown-item">Duration: 2 Weeks</li>
              <li class="dropdown-item">Air fare: $350</li>
              <li class="dropdown-item">Tour ID#: 893205234</li>
              <li class="dropdown-item">Total Price: $1500</li>
              <a class="dropdown-item package-item" style="font-weight: bolder;" id="New_York" href="#">Select Package</a>  
            </ul>
        </div>
    </ul>
    
    <form style="float: right;">
      <table id="New-York-Form" style="display: none;">
        <th>
          New York Package
        </th>
        <tr> 
          <td class="label">Number Of Travelers:</td>
          <td>
            <input class="travelers" name="travelers" type="number" />
          </td>
        </tr>

      
        <tr id="travelerAgeNY">
          <td class="label">New York Trip Total:</td>
          <td>
            <h5 id="ny-trip-total"></h5>
          </td>
        </tr>
      </table>

      <table id="Toronto-Form" style="display: none;">
        <th>
          Toronto Package
        </th>
        <tr>
          <td  class="label">Number Of Travelers:</td>
          <td>
            <input class="travelers" name="travelers" type="number" />
          </td>
        </tr>

        <tr id="travelerAgeTO">
          <td class="label">Toronto Trip Total:</td>
          <td>
            <h5 id="to-trip-total"></h5>
          </td>
        </tr>
      </table>
      <h5 id="grand-total">Grand Total(w/ tax): $0</h5>
    </form>