    <ul>
        <div>Preposed Travel Plans
          <!-- Plans -->
              <select id="package" ng-model="selectedItem" ng-model="package" ng-options="places for (places, values) in package" ng-change="selectedPkg(selectedItem)">
              </select>

              <ul ng-if="selectedItem">
                <li class="dropdown-item">Start Date: {{selectedItem.start}}</li>
                <li class="dropdown-item">Duration: {{selectedItem.duration}}</li>
                <li class="dropdown-item">Air fare: ${{selectedItem.airfare}}</li>
                <li class="dropdown-item">Tour ID#: {{selectedItem.tourid}}</li>
                <li class="dropdown-item">Total Price: ${{selectedItem.total}}</li>
              </ul>


        </div>
    </ul>
    
    <form style="float: right; margin-right: 400px;" name="shoppingform" ng-submit="update()">
      <table id="New-York-Form" ng-if="selectedItem.location === 'newyork'">
        <th>
          New York Package
        </th>
        <tr> 
          <td class="label">Number Of Travelers:</td>
          <td>
            <input class="travelers" name="travelers" ng-model="travelers" type="number" />
          </td>
        </tr>

      
        <tr id="travelerAgeNY">
          <td class="label">New York Trip Total:</td>
          <td>
            <h5 id="ny-trip-total"></h5>
          </td>
        </tr>
      </table>

      <table id="Toronto-Form" ng-if="selectedItem.location === 'toronto'">
        <th>
          Toronto Package
        </th>
        <tr>
          <td  class="label">Number Of Travelers:</td>
          <td>
            <input class="travelers" name="travelers" ng-model="travelers"  type="number" />
          </td>
        </tr>

        <tr id="travelerAgeTO">
          <td class="label">Toronto Trip Total:</td>
          <td>
            <h5 id="to-trip-total"></h5>
          </td>
        </tr>
      </table>
      <button type="submit" class="btn btn-success btn-simple btn-round btn-block" ng-disabled="shoppingform.$invalid">Submit</button>
      <h5 id="grand-total">Grand Total(w/ tax): ${{totalPrice}}</h5>

    </form>